<header>
{{> smallNav}}
</header>

    <!--Main layout-->
    <main class="mt-5 pt-5">
        <div class="container">

            <!--Section: Post-->
            <section class="mt-4">

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-10 mb-4 mx-auto">
                        
                        <!-- Category -->
                        <a href="#!" class="purple-text">
                        <p class="logo">{{category}}</p>
                        </a>

                        <!--Featured Image-->
                        <div class="card mb-4 wow">

                        <div class="ratio-container unknown-ratio-container">
                        <img class="img-fluid lazyload" data-size="auto" src="{{imgSrc}}" data-srcset="{{imgSet}}">
                        </div>

                        </div>
                        <!--/.Featured Image-->

                        <!--Card-->
                        <div class="card mb-4 wow">

                            <!--Card content-->
                            <div class="card-body">

                                <h4 class="my-4 font-weight-bold dark-grey-text">
                                    {{#unless saved}}
                                    <a class="saveArticle mr-2" data-id="{{id}}"><i class="far fa-bookmark purple-text"></i></a>
                                    {{/unless}}
                                    {{#if saved}}
                                    <a class="unsave mr-2" data-id="{{id}}"><i class="fas fa-bookmark purple-text"></i></a>
                                    {{/if}}  
                                    {{title}}
                                </h4>
                                <p class="dark-grey-text">{{blurb}}</p>
                                <br>

                                <div class="text-center">
                                <a href="{{link}}" target="_blank" class="btn btn-purple btn-sm">Read full article</a> 
                                </div>

                            </div>

                        </div>
                        <!--/.Card-->

                        <!--Comments-->
                        <div class="card card-comments mb-3 wow">
                            <div class="card-header font-weight-bold">Comments</div>
                            <div class="card-body">
                                {{#each comment}}
                                <div class="media d-block d-md-flex mt-3">
                                    <img class="d-flex mb-3 mx-auto " src="https://kooledge.com/assets/default_medium_avatar-57d58da4fc778fbd688dcbc4cbc47e14ac79839a9801187e42a796cbd6569847.png" alt="Generic placeholder image">
                                    <div class="media-body text-center text-md-left ml-md-3 ml-0">
                                        <h5 class="mt-0 font-weight-bold">{{name}}</h5>
                                        {{body}}
                                    </div>
                                </div>
                                {{/each}}

                            </div>
                        </div>
                        <!--/.Comments-->

                        <!--Reply-->
                        <div class="card mb-3 wow">
                            <div class="card-header font-weight-bold">Leave a reply</div>
                            <div class="card-body">

                                <!-- Default form reply -->
                                <form id="commentForm">

                                    <!-- Comment -->
                                    <div class="form-group" >
                                        <label for="replyFormComment">Your comment</label>
                                        <textarea class="form-control" id="comment" rows="5" required></textarea>
                                    </div>

                                    <!-- Name -->
                                    <label for="replyFormName">Your name</label>
                                    <input type="name" id="name" class="form-control" required>

                                    <div class="text-center mt-4">
                                        <button class="btn btn-purple btn-md" type="submit" data-id="{{id}}" id="submitComment">Post</button>
                                    </div>
                                </form>
                                <!-- Default form reply -->



                            </div>
                        </div>
                        <!--/.Reply-->

                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

            </section>
            <!--Section: Post-->

        </div>
    </main>
    <!--Main layout-->

