<!--Main Navigation-->
<header>

  <nav class="navbar fixed-top navbar-expand-lg navbar-dark customPurple scrolling-navbar">
    <a class="navbar-brand logo" href="/"><strong>Sci Edge</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        {{#if bookmark}}
        <li class="nav-item active">
        {{/if}}
        {{#unless bookmark}}  
        <li class="nav-item">
        {{/unless}}  
          <a class="nav-link" href="/saved">Bookmarks</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<!--Main Navigation-->

<main class="container py-5">

<!-- Section: Magazine v.2 -->
<section class="magazine-section my-5">

  <!-- Section description -->
  <h3 class="text-center purple-text w-responsive mx-auto mb-5 logo">{{header}}</h3>

  <!-- Grid row -->
  <div class="row">
    <!-- Grid column -->
    <div class="col-12">
  {{#each articles}}
        <!-- Small news -->
        <div class="single-news mb-4">

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-3">

              <!--Image-->
              <div class="view overlay rounded z-depth-1">
                <img class="img-fluid lazyload" data-size="auto" data-src="{{imgSrc}}" data-srcset="{{imgSet}}">
                <a href="/articles/{{_id}}">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
                <a href="#!" class="purple-text mb-4">
                  <p class="smallFont text-left logo">{{category}}</p>
                </a>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-9">

              <!-- Excerpt -->
              <div>
              {{#unless saved}}
              <a class="saveArticle mr-2" data-id="{{id}}"><i class="far fa-bookmark purple-text"></i></a>
              {{/unless}}
              {{#if saved}}
              <a class="unsave mr-2" data-id="{{id}}"><i class="fas fa-bookmark purple-text"></i></a>
              {{/if}}  
              <span class="font-weight-bold dark-grey-text">{{title}}</span>
              </div>
              <div class="d-flex justify-content-between">
                <div class="col-md-11 pl-0 mb-3">
                  <a href="/articles/{{_id}}" class="dark-grey-text ">{{blurb}}</a>
                </div>
                <div class="text-center">
                <a href="/articles/{{_id}}"><i class="fas fa-angle-double-right"></i></a>

                </div>
              </div>

            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

        </div>
        <!-- Small news -->
  {{/each}}   
    </div>


  </div>
  <!-- Grid row -->

</section>
<!-- Section: Magazine v.2 -->
</div>

</main>
